.main{
    background: #5965E0;
    height: 100vh;
    width: 100vw;
    display: flex;
    
}
.fieldLogin h1, .fieldLogin span{
    color: var(--white);
  }
  .input{
    background: linear-gradient(90deg, #4953B8 0%, rgba(73, 83, 184, 0.2) 100%);
    border: 0;
    height: 3rem;
    width: 18rem;
    outline: none;
    padding-left: 1rem;
    color: var(--white);
}
.input:hover{
    border: 1.5px solid #414AA3
}

.button{
    background: #4953B8;
    border: 0;
    height: 3rem;
    width: 3rem;
    font-size: 1.8rem
}

.label{
    display: flex;
    margin-top: 1rem;
}


@media(max-width:767px){
  
    .main{
        flex-direction: column;
        
    }
    .logoMain img{
        width: 10rem;
        margin: 2rem 0 0 10rem;
    }
    
    .logoSeg img{
        width: 10rem;
        margin: 2rem 0 0 9rem;
    }
     
    .fieldLogin{
        margin-left: 4rem;
    }
    
   
    
      
}

@media(min-width:768px){

    
    .logoMain img{
        height:100vh;
    }
    
    .login{
        margin: 15rem 0 0 10rem;
    }
    .fieldLogin{
        display: flex;
        flex-direction: column;
    }
    
   
}

